# Python Learning

## Content:
#### Varible , DataType , Boolean , List , Set , Tuples

In [6]:
a = 2 
b = 3
c= a+b
print (c)
print (a+b)
print (a*b)
print (a/b)

5
5
6
0.6666666666666666

## DataType

In [2]:
type(c)

int

In [3]:
d = 'test1'
print (d)

test1

In [8]:
type ('true')

str

In [9]:
type (True)

bool

In [57]:
first = '\'Uday\''
second = '\'shangar\''
print ('My Second name is {} and first name is {}'.format(second, first))
print ('My first name is {first} and second name is {second}'.format(first=first,second=second))

My Second name is 'shangar' and first name is 'Uday'
My first name is 'Uday' and second name is 'shangar'

In [20]:
print ( "My first name is {first} and senconbd name is {second}".format(first=first,second=second))

My first name is 'Uday' and senconbd name is 'shangar'

In [22]:
len('python')

6

In [25]:
type(['abc',1,2,3,4])

list

## Boolean

In [44]:
my_str='Udayashangar'
my_city='Chennai107'
print(my_str)
print(my_city)

Udayashangar
Chennai107

In [41]:
print(my_str.isalnum())
print(my_str.isdigit())
print(my_str.islower())
print(my_str.istitle())

True
False
False
True

In [45]:
print(my_city.isalpha())
print(my_city.isalnum())

False
True

## Logical Operator

In [46]:
True or False

True

In [47]:
True and False

False

In [48]:
True or True

True

In [49]:
False or False

False

In [50]:
True and True

True

In [51]:
False and False

False

In [53]:
my_str.isalnum() and my_city.istitle()

True

In [54]:
my_str.isalnum() or my_city.isdigit()

True

## List

In [58]:
type([])

list

In [59]:
my_list=['uday',1,2,3]
type(my_list)

list

In [60]:
len(my_list)

4

## List- Append

In [64]:
my_list.append('numpy')
print(my_list)

['uday', 1, 2, 3, 'numpy', 'numpy', 'numpy']

In [67]:
my_list.append(['spyder','tablu'])

None

In [68]:
my_list

['uday', 1, 2, 3, 'numpy', 'numpy', 'numpy', ['spyder', 'tablu']]

In [70]:
my_list[0]

'uday'

In [71]:
my_list[7]

['spyder', 'tablu']

In [73]:
my_list.append('jupyter')
my_list

['uday', 1, 2, 3, 'numpy', 'numpy', 'numpy', ['spyder', 'tablu'], 'jupyter']

In [75]:
my_list[3:8]

[3, 'numpy', 'numpy', 'numpy', ['spyder', 'tablu']]

## List_Insert

In [80]:
my_list.insert(1,'shangar')
my_list

['uday',
 'shangar',
 1,
 2,
 3,
 'numpy',
 'numpy',
 'numpy',
 ['spyder', 'tablu'],
 'jupyter']

## List_Extend

In [118]:
lst = [1,2,3,4,5]
lst

[1, 2, 3, 4, 5]

In [119]:
lst.extend([6,7])

In [120]:
lst

[1, 2, 3, 4, 5, 6, 7]

## List_Operation

In [81]:
lst=[1,2,3,4]
lst

[1, 2, 3, 4]

In [82]:
sum(lst)

10

In [83]:
lst*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

## List_Pop Method

In [84]:
lst=[1,2,3,4,5]
lst.pop()

5

In [85]:
lst

[1, 2, 3, 4]

In [86]:
lst.pop(2)

3

In [87]:
lst

[1, 2, 4]

## List_Count Method

In [110]:
lst=[1,1,2,3,4,4,1,1]
lst.count(4)

2

In [103]:
lst.index(1)

0

In [111]:
len(lst)

8

In [115]:
lst.index(1,2,7)

6

In [116]:
min(lst)

1

In [117]:
max(lst)

4

## SET

In [4]:
my_set ={1,2,3}
my_set

{1, 2, 3}

In [5]:
type(my_set)

set

In [2]:
my_set.add('uday')
my_set

{1, 2, 3, 'uday'}

In [16]:
set1={'superman','hitman','ironman'}
set2={'superman','hitman','ironman', 'hulk'}

In [4]:
set1

{'hitman', 'ironman', 'superman'}

In [5]:
set2

{'hitman', 'hulk', 'ironman', 'superman'}

In [6]:
set2.difference(set1)

{'hulk'}

In [17]:
set2.intersection(set1)

{'hitman', 'ironman', 'superman'}

In [18]:
set1.intersection(set2)

{'hitman', 'ironman', 'superman'}

In [7]:
set2.difference_update(set1)

In [10]:
set2

{'hulk'}

In [13]:
set1.update('m')
set1

{'a', 'hitman', 'ironman', 'm', 'n', 'superman', 't'}

## Dictionaries

In [1]:
my_dic = {}

In [2]:
type(my_dic)

dict

In [6]:
my_dic={'car1':'Audi', 'car2':'BMW', 'car3':'Mercidies Benz'}

In [7]:
my_dic

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercidies Benz'}

In [10]:
my_dic.get('car2')

'BMW'

In [19]:
my_dic['car2']='Hyundai'

In [20]:
my_dic.get('car2')

'Hyundai'

In [25]:
for x in my_dic:
    print(x)

car1
car2
car3

In [30]:
print(my_dic.values())

dict_values(['Audi', 'Hyundai', 'Mercidies Benz'])

In [31]:
for x in my_dic.values():
    print(x)

Audi
Hyundai
Mercidies Benz

In [33]:
for x in my_dic.items():
    print (x)

('car1', 'Audi')
('car2', 'Hyundai')
('car3', 'Mercidies Benz')

In [34]:
type(dict())

dict

## Nested Dictionary

In [36]:
## Dictionary subsets
car1_model = {'Audi':'2020'}
car2_model = {'Mercedes': '2019'}
car3_model = {'BMW': '2018'}

In [41]:
car1_model

{'Audi': '2020'}

In [48]:
my_car={'car1':car1_model, 'car2':car2_model,'car3':car3_model}
my_car

{'car1': {'Audi': '2020'},
 'car2': {'Mercedes': '2019'},
 'car3': {'BMW': '2018'}}

In [49]:
my_car['car1']

{'Audi': '2020'}

In [50]:
print(my_car['car1'])

{'Audi': '2020'}

In [51]:
my_car['car1']['Audi']

'2020'

## Tuples

In [52]:
my_tuple=('Chennai','Karur', 'Gobi')
my_tuple

('Chennai', 'Karur', 'Gobi')

In [58]:
my_tuple.index('Gobi')

2

In [60]:
my_tuple[1]

'Karur'

In [61]:
type(my_tuple)

tuple