# Pandas

### DataFrames, DataSeries, Diff Operation in Pandas

In [3]:
#import Pandas
import pandas as pd

In [4]:
#import Numpy
import numpy as np

In [12]:
## create DataFrames
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row1','row2','row3','row4','row5'],columns=['col1','col2','col3','col4'])
df

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [13]:
## Export Dataset as csv file
df.to_csv("test.csv")

In [14]:
## accessing elements using .loc
df.loc['row1']

col1    0
col2    1
col3    2
col4    3
Name: row1, dtype: int64

In [15]:
## checking the datatype
type(df.loc['row1'])

pandas.core.series.Series

In [16]:
## accessing elements using .iloc
df.iloc[:,:]

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [17]:
## accessing elements using .iloc
df.iloc[0:2,1:3]

      col2  col3
row1     1     2
row2     5     6

In [18]:
## checking the datatype
type(df.iloc[0:2,1:3])

pandas.core.frame.DataFrame

In [21]:
## creating Array
df.iloc[:,:].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [22]:
##cheking the arrayShape
df.iloc[:,:].values.shape

(5, 4)

In [26]:
##checking null values
df.isnull().sum()

col1    0
col2    0
col3    0
col4    0
dtype: int64

In [27]:
## checking the count of Unique value in column
df['col1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: col1, dtype: int64

In [28]:
## checking what are the unique values
df['col2'].unique()

array([ 1,  5,  9, 13, 17])