## Python with MangoDB_Querying Json documents

In [1]:
## importing pymongo
import pymongo

## connecting mangodb
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [45]:
## create databse
mydb = client['Employee']
              
## craeting collection
empinfo = mydb.employeeinformation

In [46]:
## creating records
## creating records
record ={
            'firstname':'Udaya',
            'secondname':'Shangar',
            'department':'DataScience',
            'role':'Data Scientist',
            'qualification':'BE',
            'age':33
        }

## inserting records in db
empinfo.insert_one(record)

In [47]:
## creating multiple records
record2 =[{
            'firstname':'Gowri',
            'secondname':'Sankar',
            'department':'Data Analytics',
            'qualification':'Masters',
            'age':31
        },
        {
            'firstname':'Saravana',
            'secondname':'Kuram',
            'department':'DataEngineer',
            'qualification':'Phd',
            'age':37,
            'Mobile':'98435'
        },
        {
            'firstname':'Aathi',
            'secondname':'Raj',
            'department':'Data Analytics',
            'qualification':'Masters',
            'age':35
        }
    ]
## inserting records in db
empinfo.insert_many(record2)

## Simple way of Querying

In [48]:
# Querying Single Record - Top record
empinfo.find_one()

{'_id': ObjectId('5f12e274b0e5829743abd0b3'),
 'firstname': 'Udaya',
 'secondname': 'Shangar',
 'department': 'DataScience',
 'role': 'Data Scientist',
 'qualification': 'BE',
 'age': 33}

In [49]:
## Querying all the JSON Documents
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('5f12e274b0e5829743abd0b3'), 'firstname': 'Udaya', 'secondname': 'Shangar', 'department': 'DataScience', 'role': 'Data Scientist', 'qualification': 'BE', 'age': 33}
{'_id': ObjectId('5f12e275b0e5829743abd0b4'), 'firstname': 'Gowri', 'secondname': 'Sankar', 'department': 'Data Analytics', 'qualification': 'Masters', 'age': 31}
{'_id': ObjectId('5f12e275b0e5829743abd0b5'), 'firstname': 'Saravana', 'secondname': 'Kuram', 'department': 'DataEngineer', 'qualification': 'Phd', 'age': 37, 'Mobile': '98435'}
{'_id': ObjectId('5f12e275b0e5829743abd0b6'), 'firstname': 'Aathi', 'secondname': 'Raj', 'department': 'Data Analytics', 'qualification': 'Masters', 'age': 35}

In [50]:
## Querying documents abased on equalent value
for record in empinfo.find({'firstname':'Gowri'}):
    print(record)

{'_id': ObjectId('5f12e275b0e5829743abd0b4'), 'firstname': 'Gowri', 'secondname': 'Sankar', 'department': 'Data Analytics', 'qualification': 'Masters', 'age': 31}

In [51]:
## Query documents using query operators($in)
for record in empinfo.find({'qualification':{'$in':['Masters','Phd']}}):
    print(record)

{'_id': ObjectId('5f12e275b0e5829743abd0b4'), 'firstname': 'Gowri', 'secondname': 'Sankar', 'department': 'Data Analytics', 'qualification': 'Masters', 'age': 31}
{'_id': ObjectId('5f12e275b0e5829743abd0b5'), 'firstname': 'Saravana', 'secondname': 'Kuram', 'department': 'DataEngineer', 'qualification': 'Phd', 'age': 37, 'Mobile': '98435'}
{'_id': ObjectId('5f12e275b0e5829743abd0b6'), 'firstname': 'Aathi', 'secondname': 'Raj', 'department': 'Data Analytics', 'qualification': 'Masters', 'age': 35}

In [55]:
## Querying documents using operators --lower than($lt)
for record in empinfo.find({'qualification':'Masters','age':{'$lt':32}}):
    print(record)

{'_id': ObjectId('5f12e275b0e5829743abd0b4'), 'firstname': 'Gowri', 'secondname': 'Sankar', 'department': 'Data Analytics', 'qualification': 'Masters', 'age': 31}

In [56]:
## Querying documents using operators -- Greater than($gt)
for record in empinfo.find({'qualification':'Masters','age':{'$gt':32}}):
    print(record)

{'_id': ObjectId('5f12e275b0e5829743abd0b6'), 'firstname': 'Aathi', 'secondname': 'Raj', 'department': 'Data Analytics', 'qualification': 'Masters', 'age': 35}

In [61]:
## Querying documents using operators and $and
for record in empinfo.find({'$and':[{'qualification':'Masters'},{'age':{'$gt':32}}]}):
    print(record)

{'_id': ObjectId('5f12e275b0e5829743abd0b6'), 'firstname': 'Aathi', 'secondname': 'Raj', 'department': 'Data Analytics', 'qualification': 'Masters', 'age': 35}

In [62]:
## Querying documents using operators and $or
for record in empinfo.find({'$or':[{'qualification':'Masters'},{'age':{'$gt':32}}]}):
    print(record)

{'_id': ObjectId('5f12e274b0e5829743abd0b3'), 'firstname': 'Udaya', 'secondname': 'Shangar', 'department': 'DataScience', 'role': 'Data Scientist', 'qualification': 'BE', 'age': 33}
{'_id': ObjectId('5f12e275b0e5829743abd0b4'), 'firstname': 'Gowri', 'secondname': 'Sankar', 'department': 'Data Analytics', 'qualification': 'Masters', 'age': 31}
{'_id': ObjectId('5f12e275b0e5829743abd0b5'), 'firstname': 'Saravana', 'secondname': 'Kuram', 'department': 'DataEngineer', 'qualification': 'Phd', 'age': 37, 'Mobile': '98435'}
{'_id': ObjectId('5f12e275b0e5829743abd0b6'), 'firstname': 'Aathi', 'secondname': 'Raj', 'department': 'Data Analytics', 'qualification': 'Masters', 'age': 35}

In [63]:
## Creating another collection
inventory = mydb.inventory

In [79]:
## creating records and inserting in the new collection
inventrec =[{'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A"},
             {'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A"},
             {'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D"},
             {'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D"},
             {'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A"}]
    
inventory.insert_many(inventrec)

In [85]:
## querying using nested records
for record in inventory.find({'size': { 'h': 8.5, 'w': 11,'uom': "in" }}):
                              print(record)

{'_id': ObjectId('5f12eb02b0e5829743abd0bd'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'A'}
{'_id': ObjectId('5f12eb02b0e5829743abd0be'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}